.footer__copyright{
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	color: #545454;

	max-width: 880px;
	min-height: 60px;

	margin: 66px auto 0px auto;
}

@media screen and (max-width: 768px){

	.footer__copyright{
		margin: 48px auto 0px auto;
		max-width: calc(282px * 2 + 100px);
	}

}

@media screen and (max-width: 320px){

	.footer__copyright{
		margin: 48px auto 0px auto;
		max-width: 282px;

	}

}