.popup__close-button{
	position: relative;
	top: -8px;
	left: 201px;
	background-image: url('../../../images/close_button.svg');
	min-width: 32px;
	min-height: 32px;
	background-color: transparent;
	border: 0;
	padding: 0;
	/*float: right;*/
	transform: translateX(100%);

}

.popup__close-button:hover{
	opacity: 60%;
	cursor: pointer;
}

@media screen and (max-width: 425px){
	.popup__close-button{
		background-image: url('../../../images/close_button_mobile.svg');
		top: -18px;
		left: 110px;
		min-width: 20px;
		min-height: 20px;
	}
}
