.popup-photo__container{
	position: relative;

	transition: 200ms ease;
	border-radius: 10px;
	border: 1px solid black;
	z-index: 10;
	background-color: white;

	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

	max-width: 430px;
	/*max-height: 330px;*/
	/*width: 100%;*/

	display: flex;
	flex-direction: column;
	text-align: center;

}

@media screen and (max-width: 525px){
	.popup-photo__container{
		max-width: 282px;
		/*min-height: 322px;*/

	}
}