@import url(../vendor/normalize.css);
@import url(../vendor/inter_fonts.css);
@import url(../blocks/root/root.css);

@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/form-profile/__header/form-profile__header.css);
@import url(../blocks/form-profile/__decription-input/form-profile__decription-input.css);
@import url(../blocks/form-profile/__submit/form-profile__submit.css);

@import url(../blocks/form-photo/__header/form-photo__header.css);
@import url(../blocks/form-photo/__decription-input/form-photo__decription-input.css);
@import url(../blocks/form-photo/__submit/form-photo__submit.css);

@import url(../blocks/popup-profile/popup-profile.css);
@import url(../blocks/popup-profile/_opened/popup-profile_opened.css);
@import url(../blocks/popup-profile/__close-button/popup-profile__close-button.css);
@import url(../blocks/popup-profile/__container/popup-profile__container.css);
/*@import url(../blocks/popup-profile/__photo-descriprion/popup-profile__photo-descriprion.css);*/

@import url(../blocks/popup-add-photo/popup-add-photo.css);
@import url(../blocks/popup-add-photo/_opened/popup-add-photo_opened.css);
@import url(../blocks/popup-add-photo/__close-button/popup-add-photo__close-button.css);
@import url(../blocks/popup-add-photo/__container/popup-add-photo__container.css);
/*@import url(../blocks/popup-add-photo/__photo-descriprion/popup-add-photo__photo-descriprion.css);*/

@import url(../blocks/popup-photo/popup-photo.css);
@import url(../blocks/popup-photo/_opened/popup-photo_opened.css);
@import url(../blocks/popup-photo/__close-button/popup-photo__close-button.css);
@import url(../blocks/popup-photo/__container/popup-photo__container.css);
@import url(../blocks/popup-photo/__photo-descriprion/popup-photo__photo-descriprion.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__description-wrap/profile__description-wrap.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__career/profile__career.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__trash-button/element__trash-button.css);
@import url(../blocks/element/__user-photo/element__user-photo.css);
@import url(../blocks/element/__user-photo-description/element__user-photo-description.css);
@import url(../blocks/element/__user-photo-text/element__user-photo-text.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_liked/element__like_liked.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


