@import url(../vendor/normalize.css);
@import url(../vendor/inter_fonts.css);
@import url(../blocks/root/root.css);

@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__header/form__header.css);
@import url(../blocks/form/__decription-input/form__decription-input.css);
@import url(../blocks/form/__submit/form__submit.css);


@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__container/popup__container.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__description-wrap/profile__description-wrap.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__career/profile__career.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__user-photo/element__user-photo.css);
@import url(../blocks/element/__user-photo-description/element__user-photo-description.css);
@import url(../blocks/element/__user-photo-text/element__user-photo-text.css);
@import url(../blocks/element/__like/element__like.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


