.form__career{
	border: 0;
	border-bottom: 1px solid #545454;

	margin: 30px auto 0 auto;
	max-width: 358px;
	width: 100%;
	min-height: 36px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: black;
}

@media screen and (max-width: 425px){
	.form__career{
		max-width: 238px;
		width: 100%;
		min-height: 27px;
	}
}