.profile__close-button{
	position: fixed;
	top: -11%;
	left: 101%;
}

.profile__close-button:hover{
	opacity: 50%;
	cursor: pointer;
}

@media screen and (max-width: 425px){
	.profile__close-button{
		position: fixed;
		top: -10%;
		left: 93%;
		max-width: 20px;
	}
}
