.popup-photo_opened{
	display: flex;
	justify-content: center;
	align-items: center;
	animation: popup-photo_open 0.5s ease forwards;

}

@keyframes popup-photo_open{

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}