.popup-photo{
	display: none;
    position: fixed;
    transition: 1000ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 10;
    /* pointer-events: none; */

}

